#root, html,body{
  padding: 0;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app{

  height: 100%;
  background: url("https://images.unsplash.com/photo-1497561813398-8fcc7a37b567?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cards{
  background-color: white;
  width: 57%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: 7px 7px;
}

.heading{
align-items: center;
text-align: center;
display: flex;
height: 500px;


}